In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("dfa.csv")

In [4]:
df

     K sigma    s    F state convert converted
0   q0     a   q1   q0    q0       a        q0
1   q1     b  NaN  NaN    q0       b        q1
2  NaN   NaN  NaN  NaN    q1       a        q1
3  NaN   NaN  NaN  NaN    q1       b        q0

In [5]:
df['K']
for i in df.state:
    print(i)

q0
q0
q1
q1

In [22]:
def mapp(st):
    state=df.s[0]
    for j in st:
        count=0
        sa=state
        for i in df.state:
            if (j==df.convert[count] and i==state):
                state=df.converted[count]
                continue
            count+=1
        print("from "+sa+" to "+state)
    return state

In [25]:
def check (stri):
    if(mapp(stri) in df.F[0]):
        print("Hence string accepted")
    else:
        print("Hence string not accepted")

In [26]:
string=input("Enter the string ")
check(string)

Enter the string abba
from q1 to q1
from q1 to q0
from q0 to q1
from q1 to q1
Hence string not accepted

In [27]:
string=input("Enter the string ")
check(string)

Enter the string ab
from q1 to q1
from q1 to q0
Hence string accepted